# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.buildlog/
.history
.svn/
.migrate_working_dir/

# IDE / Editors
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# Flutter / Dart / Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/

# Android
/android/app/debug
/android/app/profile
/android/app/release
**/android/local.properties
**/android/key.properties
*.jks
.gradle/

# iOS / Xcode
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/DerivedData/
**/ios/**/xcuserdata

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Windows
**/windows/flutter/generated_plugin_registrant.*

# Linux
**/linux/flutter/generated_plugin_registrant.*

# Coverage
coverage/

# Symbols / Obfuscation
app.*.symbols
app.*.map.json
